.carousel {
	padding-top: 70px;
}

#welcome {
	margin-top: 60px;

}

#head .carousel-item {
	max-height: 80vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
	grid-column-start: 1;
  }

  .grid-container {
  	grid-gap: 0px;
  }
}

#navbarNavAltMarkup {
	font-size: 25px;
}

.navbar {
	background: floralwhite;
}

.navbar-brand {
	font-size: 30px;
    font-weight: bolder;
}

footer {
	padding-bottom: 20px;
	margin-top: 70px;
	border-top: 1px solid grey;
}

footer .container {
	padding-top: 50px;
}

.section_welcome__main {
	padding-top: 70px;
}
